/* ____ General Styling _____ */

* {
    box-sizing: border-box;
}

/* Text styling for body and headers */
body {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-weight: 600;
    color: #6eaeda;
    font-family: 'Oswald', Impact, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #a3cbe2;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}

h3, .bolded-text{
    font-weight: 600;
    font-size: larger;
    color: #c4d4d4;
    margin-top: 1rem;
}

h4 {
    font-size: larger;
    font-weight: 600;
    color: #bbdbe7;
}

a {
    color: #c4d4d4;
}

a:hover {
    color: #a3cbe2;
}

li {
    margin-bottom: .5rem;
}

.subtitle {
    font-size: large;
}

/* Navbar */
.navbar {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    margin-bottom: 1rem;
    font-weight: 600;
    background-color: #deeef3;
}

.navbar-brand {
    margin-left: 3rem;
    font-size: large;
}

/* Footer */
.footer {
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #c4d4de;
    padding-bottom: 1rem;
}

/* Table */
.table-header {
    background-color: #deeef3;
}
.table-component {
    border-color: #c4d4de;
    border-width: 0.025rem;
    border-style: solid;
    padding: 0.5rem;
}